/.probe
/.vscode
/coremods
/crash-reports
/journeymap
/local
/logs
/mods/*.jar
/resourcepacks
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
options.txt
rhino.local.properties
usercache.json
usernamecache.json